include ../includes/head
block content
    include ../includes/header
.container-fluid
    .row
        include ../includes/slide
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            h1.page-header 添加项目
            .row.placeholders
                form.form-horizontal(role='form' action='/project/add' method='post')
                    div.form-group
                        label.col-sm-2.control-label(for='name') 项目名称
                        div.col-sm-10
                            input.form-control(id='name' name='name' type='text' placeholder='项目名称' required)
                    button.btn.btn-primary.btn-lg#submitBtn(type='submit') 提交
include ../includes/footer