include ../includes/head

block content
    include ../includes/header
.container-fluid
    .row
        include ../includes/slide
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            h1.page-header 操作失败
            div.col-sm-2
                a(href='/project/list')
                    button.sub_btn.sun_right_btn(type='button') 查看
include ../includes/footer