include ../includes/head
block content
    include ../includes/header
.container-fluid
    .row
        include ../includes/slide
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            h1.page-header 添加设备
            .row.placeholders
                //form.form-horizontal(role='form' action='/equipment/add' method='post')
                form.form-horizontal(role='form')
                    div.form-group
                        label.col-sm-5.control-label(for='name') 设备名称
                        div.col-sm-3
                            input.form-control(id='name' name='name' type='text' placeholder='设备名称' required)
                    div.form-group
                        label.col-sm-5.control-label(for='equip_id') 设备ID
                        div.col-sm-3
                            input.form-control(id='equip_id' name='equip_id' type='text' placeholder='设备ID' required)
                    div.form-group
                        label.col-sm-5.control-label(for='key') 设备key
                        div.col-sm-3
                            input.form-control(id='key' name='key' type='text' placeholder='设备key' required)
                    div.form-group
                        label.col-sm-5.control-label(for='project_id') 所属项目
                        div.col-sm-3
                            select.form-control(id='project_id' name='project_id' type='text' placeholder='所属项目' required)
                              if(result)
                                each item in result
                                  option(value='#{item.id}') #{item.name}
                    div.form-group
                        label.col-sm-5.control-label
                        div.col-sm-1
                            //button.sub_btn.sub_left_btn#submitBtn(type='submit') 提交
                            button.sub_btn.sub_left_btn#submitBtn(type='button') 提交
                        div.col-sm-1
                            a(href='/equipment/list')
                                button.sub_btn.sun_right_btn(type='button') 取消
include ../includes/footer
    //AJAX调用添加接口
script(type='text/javascript').
    $("#submitBtn").click(function () {
        var equipment = new Object();
        equipment.name = $("#name").val();
        equipment.key = $("#key").val();
        equipment.equip_id = $("#equip_id").val();
        equipment.user_id = getString("userId");
        equipment.project_id = $("#project_id").val();
        //处理时间
        equipment.create_time = getTime();
        if($("#name").val() == ""){
           return alert("请输入设备名称")
        }
        if ($("#equip_id").val() == "") {
            return alert("请输入设备ID")
        }
        if ($("#key").val() == "") {
            return alert("请输入设备KEY")
        }
        if ($("#project_id").val() == "") {
            return alert("请选择一个项目")
        }
        $.ajax({
            method: "POST",
            url: '/equipment/add',
            data: equipment,
            dataType: "json",
            success: function (data) {
                if(data.success == true){
                    Tip.alert("add","equipment");
                }else{
                    alert("添加设备失败请联系开发人员")
                }

            },
            error: function (data) {
                alert("添加设备失败请联系开发人员")
            }
        });
    });