script(src='/jquery/dist/jquery.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')
script(src='/seajs/dist/sea-debug.js')
script(src='/javascript/config.js')
script.
    seajs.use('javascript/common/base.js');
