aside.main-sidebar
  section.sidebar
    .user-panel
      .pull-left.image
        img(src='/images/logo.png')
      .pull-left.info
        p.header-username
        a(href="javascript:void(0);")
          i.fa.fa-circle.text-success
          span 在线
    ul.sidebar-menu
      li.treeview
        a(href='javascript:void(0)')
          i.fa.fa-hdd-o
          span
          span.glyphicon.glyphicon-copyright-mark.slide_glyphicon  监控中心
          span.glyphicon.glyphicon-chevron-down.pull-right
          ul.treeview-menu(style='display:none')
            li
              a(href='/monitor')
                span.glyphicon.glyphicon-stats.slide_glyphicon  数据中心
            li
              a(href='/control')
                span.glyphicon.glyphicon-wrench.slide_glyphicon  控制中心
            //- li
              a(href='/monitored')
                span.glyphicon.glyphicon-facetime-video.slide_glyphicon  监测中心
      li.member
        a(href='/member/list')
          span.glyphicon.glyphicon-user.slide_glyphicon  人员管理

      li.project
        a(href='/project/list')
          span.glyphicon.glyphicon-list-alt.slide_glyphicon  项目管理
      li.equipment.treeview1.device
        a(href='javascript:void(0)')
          //- a(href='/equipment/list')
          i.fa.fa-hdd-o
          span
          span.glyphicon.glyphicon-print.slide_glyphicon  设备管理
          span.glyphicon.glyphicon-chevron-down.pull-right
          ul.treeview-menu(style='display:none')
            li
              a(href='/equipment/list')
                span.glyphicon.glyphicon-print.slide_glyphicon  设备列表
            //- li
              a(href='/camera/list')
                span.glyphicon.glyphicon-camera.slide_glyphicon  摄像机列表
            li
              a(href='/equipment/add')
                span.glyphicon.glyphicon-wrench.slide_glyphicon  添加控制器
            //- li
              a(href='/camera/add')
                span.glyphicon.glyphicon-pushpin.slide_glyphicon  添加摄像机