include ../includes/head
link(rel='stylesheet', href='/flatpickr/dist/flatpickr.confetti.min.css')
block content
  include ../includes/header
  link(rel='stylesheet', href='/artDialog/css/ui-dialog.css')
.container-fluid
  .row
    include ../includes/slide
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      ul.list-group#projectId
        if(result)
            each item in result
                li.list-group-item.mb15(data-id='#{item.id}') #{item.name}
                    .fn-right
                        button.btn.btn-success.btn-dialog.btn-project-group(style='padding:0 12px;margin-right:10px' data-id='#{item.id}' data-relay="关,关,关,关,关,关,关,关") 操作
                        span.glyphicon.glyphicon-chevron-down.project-up-down(style='margin-right:10px')
                    span.label.label-success.equip-online-num 在线设备：
                        b.equip-online-num-b 0
                    span.label.label-default.equip-belong-num 所属设备：#{item.count}
                    div(role='tabpanel').fn-hide
                        ul.nav.nav-pills(role='tablist')
                            li.active(role='presentation')
                                a(href='#status' aria-controls='status' role='tab') 状态
                            li(role='presentation')
                                a(href='#weekTime' aria-controls='weekTime' role='tab') 周设置
                            li(role='presentation')
                                a(href='#dailyTime' aria-controls='dailyTime' role='tab') 日设置
                        .tab-content
                            .tab-pane.status.active(role='tabpanel')
                                .table-responsive
                                    table.table.table-striped
                                        thead
                                            tr
                                                th 设备id
                                                th 温度
                                                th 3路电压
                                                th 震动
                                                th 门磁
                                                th 继电器
                                                th 定时
                                                th 变动时间
                                                th
                                        tbody.nodeInfoWrap
                            .tab-pane.weekTime(role='tabpanel')
                                .table-responsive
                                    table.table.table-striped
                                        thead
                                            tr
                                                th 设备id
                                                th 周一
                                                th 周二
                                                th 周三
                                                th 周四
                                                th 周五
                                                th 周六
                                                th 周日
                                                th
                                        tbody.weekTimeWrap
                            .tab-pane.dailyTime(role='tabpanel')
                                .table-responsive
                                    table.table.table-striped
                                        thead
                                            tr
                                                th id
                                                th 日期区间
                                                th 开关时间
                                                th 日期区间
                                                th 开关时间
                                                th 日期区间
                                                th 开关时间
                                                th 日期区间
                                                th 开关时间
                                                th 日期区间
                                                th 开关时间
                                                th
                                        tbody.dailyTimeWrap
include ../includes/footer
script#nodeInfo(type="text/x-handlebars-template")
    {{#each this}}
    {{#if id}}
    tr
        td {{id}}
        td {{temperature}}℃
        td {{voltage_1}}v/{{voltage_2}}v/{{voltage_3}}v
        td {{shakeStatus}}
        td {{gateStatus}}
        td {{relay}}
        td {{timeConfig}}
        td {{updateTime}}
        td <button type='button' {{#if offline}}disabled{{/if}} class='btn {{#if offline}}btn-default{{else}}btn-success{{/if}} btn-dialog' data-id='{{id}}' data-relay='{{relay}}' data-timeconfig='{{timeConfig}}'>{{#if offline}}离线{{else}}操作{{/if}}</button>
    {{/if}}
    {{/each}}
script#weekTime(type="text/x-handlebars-template")
    {{#each this}}
    {{#if equip_id}}
    tr
        td {{equip_id}}
        td {{open_time_1}}开启/{{close_time_1}}关闭
        td {{open_time_2}}开启/{{close_time_2}}关闭
        td {{open_time_3}}开启/{{close_time_3}}关闭
        td {{open_time_4}}开启/{{close_time_4}}关闭
        td {{open_time_5}}开启/{{close_time_5}}关闭
        td {{open_time_6}}开启/{{close_time_6}}关闭
        td {{open_time_7}}开启/{{close_time_7}}关闭
        //td <button type='button' {{#if offline}}disabled{{/if}} class='btn {{#if offline}}btn-default{{else}}btn-success{{/if}} btn-dialog' data-id='{{equip_id}}' data-relay='{{relay}}' data-timeconfig='{{timeConfig}}'>操作</button>
    {{/if}}
    {{/each}}
script#dailyTime(type="text/x-handlebars-template")
    {{#each this}}
    {{#if equip_id}}
    tr
        td {{equip_id}}
        td {{start_1}}/{{end_1}}
        td {{open_1}}/{{close_1}}
        td {{start_2}}/{{end_2}}
        td {{#if start_2}}{{open_2}}{{/if}}/{{#if start_2}}{{close_2}}{{/if}}
        td {{start_3}}/{{end_3}}
        td {{#if start_3}}{{open_3}}{{/if}}/{{#if start_3}}{{close_3}}{{/if}}
        td {{start_4}}/{{end_4}}
        td {{#if start_4}}{{open_4}}{{/if}}/{{#if start_4}}{{close_4}}{{/if}}
        td {{start_5}}/{{end_5}}
        td {{#if start_5}}{{open_5}}{{/if}}/{{#if start_5}}{{close_5}}{{/if}}
        //td <button type='button' {{#if offline}}disabled{{/if}} class='btn {{#if offline}}btn-default{{else}}btn-success{{/if}} btn-dialog' data-id='{{equip_id}}' data-relay='{{relay}}' data-timeconfig='{{timeConfig}}'>操作</button>
    {{/if}}
    {{/each}}
script(src='/requirejs/require.js' data-main="/javascript/index/control")