include ../includes/head
link(rel='stylesheet', href='/flatpickr/dist/flatpickr.confetti.min.css')
block content
  include ../includes/header
  link(rel='stylesheet', href='/artDialog/css/ui-dialog.css')
.container-fluid
  .row
    include ../includes/slide
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      ul.list-group#projectId
        if(result)
            each item in result
                li.list-group-item.mb15(data-id='#{item.id}')
                    div.disInline
                        div.control-tip
                        div(style='display:inline-block') 项目
                        div.control-projectName #{item.name}
                    div.disInline(style='margin-left:10px')
                        div.control-tip
                        span 设备数量：
                            b #{item.count}
                    div.disInline(style='margin-left:10px')
                        div.control-tip
                        span 在线数量：
                            b.equip-online-num-b 
                    div.fn-right
                        div.disInline(style='background-color:#a0a0a0;border-radius:5px')
                            span.glyphicon.glyphicon-chevron-down.project-up-down(style='margin:0 5px;color:#fff')
                    div(role='tabpanel').fn-hide(style="white-space:nowrap")
                        ul.nav.nav-pills.nodeInfoTable
                            include ../includes/footer
                            script#nodeInfo(type="text/x-handlebars-template")
                                {{#each this}}
                                {{#if id}}
                                div.marginTop-20.col-xs-4.fontMedia
                                    div
                                        p
                                        div
                                            img
                                        div
                                            div.btn
                                            p
                                {{/if}}
                                {{/each}}                 

script(src='/requirejs/require.js' data-main="/javascript/index/control")