include ../includes/head
link(rel='stylesheet', href='/flatpickr/dist/flatpickr.confetti.min.css')
block content
  include ../includes/header
  link(rel='stylesheet', href='/artDialog/css/ui-dialog.css')
.container-fluid
  .row
    include ../includes/slide
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      h1(style="border-bottom:none").page-header 系统监控
        .echarts-detail(style='height:600px;width:100%')
            #echarts-system-count(style='height:300px;width:100%;')
            #echarts-equip-count(style='height:300px;width:350px;float:left')
            #echarts-heart-count(style='height:300px;width:350px;float:left')
            #echarts-alarm-count(style='height:300px;width:350px;float:left')
include ../includes/footer

script(src='/requirejs/require.js' data-main="/javascript/index/monitor")