/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.fn-hide{
  display: none;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.nav>li>.fn-hide{
    display: none;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
  background-color: #222d32;
}
.main-sidebar{
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  background-color: #222d32;
  -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
  transition: transform .3s ease-in-out,width .3s ease-in-out;
}
.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.user-panel>.info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
  color: #fff;
}
.user-panel>.info>a{
  color: #fff;
}
.fa-circle:before {
  content: "\f111";
}
.user-panel>.info>a>.fa, .user-panel>.info>a>.glyphicon, .user-panel>.info>a>.ion {
  margin-right: 3px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.user-panel>.image>img {
  width: 100%;
  max-width: 45px;
  height: auto;
}
.sidebar {
  display: block;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.sidebar-menu li>a {
  position: relative;
}
.sidebar-menu>li>a {
  padding: 12px 5px 12px 15px;
  display: block;
  color: #b8c7ce;
}
.sidebar a {
  color: #b8c7ce;
}
.sidebar-menu>li>a {
  border-left: 3px solid transparent;
}
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu>li.active>a,.sidebar-menu>li:hover>a {
  color: #fff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}
.fa-angle-left:before {
  content: "\f104";
}
.sidebar-menu li>a>.pull-right {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}
.sidebar-menu .treeview-menu>li>a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}
.sidebar-menu li>a>.fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.slide-list-group{
  margin-bottom: 0;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.project-up-down{
    cursor: pointer;;
}
.fn-right{
  float:right;
}
.btn-switch.active,.btn-switch.active.focus{
  background-color: #b92c28;
}
.mb15{
  margin-bottom: 15px;
}
.ui-dialog-content .input-group{
  width: 100%;
}
.flatpickr-calendar{
  border: 1px solid #ffb866;
}
.daily-hide{
  display: none;
}