html{
    height:100%;
}
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #dddddd;
    height:100%;
    position: relative;
}
.mb30{
    margin-bottom: 30px;
}
.container{
    height:100%;
}
.form-signin {
    width: 550px;
    padding: 15px;
    position: absolute;
    left: 50%;
    margin-left: -275px;
    top: 50%;
    margin-top: -157px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}